.info{
    animation-name: aparicion;
    animation-duration: 1s;
    animation-timing-function: ease;
    margin: $size*20;

    .accordion-item{
        background-color: $color2;
        border: $color1 $size solid !important;
    }
    
    
    .accordion-button{
        background-color: $color2;
        color: $color1;
        font-size: $size*7;
    }
    
    .accordion-body{
        color: $color1;
    }
}



