*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url(../img/gif5.gif);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: sans-serif;

}