.formulario1{
    text-align: center;
    margin-top: $size*10;

    label{
        font-size: $size*6;
        color: $color1;
    }
    
    input{
        
        font-size: $size*6;
        color: $color1;
        background-color: $color2;
        margin-bottom: $size*7;
        margin-top: $size*7;
        
    }
    
    select{
        @include size($size*10, 200px);
        font-size: $size*6;
        color: $color1;
        background-color: $color2;
        
        @include margin($size*7, $size*7)
    }
    
    
    .enviar{
        @include size(40px, 150px);
        font-size: $size*7;
        margin-top: $size*7;
    }
}

.center-text{
    text-align: center;

    h3{
        color: $color1;
        font-size: $size*6;
        @include margin($size*10, $size*10);
        margin-left: 2px;
        margin-right: 2px;
        
    }
    
    a{
        font-size: $size*10;
        background-color: $color1;
        border: $color2 $size solid;
        text-decoration: none;
        display: inline-block;
        color: $color2;
        margin-bottom: $size*7;
    }
}
