.noticias{
    display: grid;
    gap: 15px;
    grid-template-columns: 95%;
    justify-content: center;

    animation-name: aparicion;
    animation-duration: 1s;
    animation-timing-function: ease;

    .noticia{
        text-align: center;
        color: $color1;
        list-style-type: none;
        background-color: $color2;
        border: $color1 $size solid;
        
        
    }
    
    h2{
        font-size: $size*7;
        padding: $size*2;
    }
    
    p{
        font-size: $size*6;
        margin-top: $size*5;
    }
    
    ul{
        list-style-type: none;
        height: 265px;
        padding: $size*5;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        margin-top: $size*5;
    }
    
    li{
        padding-bottom: $size*10;
        font-size: $size*6;
    }
    
    .enlace2{
        color: $color1;
    }
    
    .enlace2:hover{
        color: $color3;
    }
    
    .evento{


        @extend .noticia;
        
        p{
            @include padding($size*10, $size*10);
        
        }
        
    }
}



.pagination{
    display: flex;
    justify-content: center;
    margin-top: $size*13;
    
}