//colores de la página
$color1: rgb(155, 206, 222);
$color2: rgb(16, 47, 56);
$color3: rgb(73, 239, 220);

// variable de tamaño general
$size: 3px;

// map del form-1
$fav-colors: (
    rojo: red,
    azul: blue,
    amarillo: yellow,
    verde: green,
    morado: purple,
    naranja: orange,
    celeste: aqua
);

@each $fav, $color in $fav-colors {
    .color-#{$fav}{
        color: $color;
    }
}

// mixins para uso general

@mixin size ($alto,$ancho) {
    height: $alto;
    width: $ancho;
}

@mixin padding ($pt,$pb){
    padding-top: $pt;
    padding-bottom: $pb;
}

@mixin margin ($mt,$mb){
    margin-top: $mt;
    margin-bottom: $mb;
}
